ion-header {
    border-bottom: 1px solid var(--turbo-red-dark);

}

ion-toolbar {
    --background: var(--ion-color-primary);


}

ion-title {
    font-weight: bold;
    font-size: 1rem;
    color: var(--turbo-red-vibrant);
    text-shadow: 0 0 10px var(--turbo-red-glow);
}

.custom-input {
    font-family: 'Courier New', Courier, monospace;
}



.platform-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    .icon-box {
        width: 40px;
        height: 40px;

        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        margin-bottom: 4px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .platform-name {
        font-size: 0.6rem;

        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        font-weight: 500;
    }

    &:hover {
        transform: scale(1.15);

        .icon-box {
            background: var(--ion-color-primary-contrast);
        }

        .platform-name {
            color: var(--ion-color-primary-contrast);
        }
    }
}

.disclaimer {
    text-align: center;
    font-size: 0.7rem;
    color: var(--ion-color-step-400);
    margin-top: 10px;
}

ion-content {

    // 1. Usamos ::part(scroll) para inyectar el estilo a través del Shadow DOM
    &::part(scroll) {
        &::-webkit-scrollbar {
            width: 6px; // Un poco más fino para que sea elegante
        }

        &::-webkit-scrollbar-track {
            background: var(--turbo-black);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--turbo-red-dark);
            border-radius: 10px;

            &:hover {
                background: var(--turbo-red-vibrant);
            }
        }
    }

    // 2. Compatibilidad para Firefox
    scrollbar-width: thin;
    scrollbar-color: var(--turbo-red-dark) var(--turbo-black);
}