.header-container {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  padding: 4px 0;

  .main-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--turbo-red-vibrant);
    text-shadow: 0 0 10px var(--turbo-red-glow);

    small {
      font-size: 0.6em;
      opacity: 0.8;
      color: var(--turbo-white);
      margin-left: 4px;
      text-shadow: none;
    }
  }

  .subtitle {
    font-size: 0.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--turbo-red-dark);
    margin: 4px 0px 0px 2px;
  }
}

/* Toolbar de Ionic */
ion-toolbar {
  --padding-top: 8px;
  --padding-bottom: 8px;
  --border-style: none;
}

/* Estilo de Tarjetas (Cards) */
ion-card {
  --background: var(--turbo-black);
  --color: var(--turbo-white);
  border-radius: 12px;
  border: 1px solid #1a1a1a;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  margin-top: 20px;

  ion-item {
    --background: transparent;
    --color: var(--turbo-white);
    --border-color: transparent;
  }

  ion-card-title {
    color: var(--turbo-red-dark) !important;
    font-size: 0.65rem !important;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.8;
    text-align: center;
  }

  ion-card-subtitle {
    color: var(--turbo-grey-text);
  }
}

/* Ajustes de Items e Inputs dentro de la UI */
ion-item {
  --background: rgba(255, 255, 255, 0.03);
  --color: var(--turbo-white);
  --border-radius: 8px;
  --padding-start: 12px;
  margin: 10px 0;

  ion-input {
    --placeholder-color: var(--turbo-grey-text);
    --color: var(--turbo-white);
  }
}

/* Botones de acción (Audio / Video / Descarga) */
ion-button {
  --border-radius: 8px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 10px;


  &::part(native) {
    transition: all 0.3s ease;
  }

  &:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 15px var(--turbo-red-glow);
  }
}

/* Colores específicos para botones si no quieres usar los de Ionic */
.btn-primary {
  --background: var(--turbo-red-vibrant);
  --color: var(--turbo-black);
}

.btn-secondary {
  --background: var(--turbo-dark-grey);
  --color: var(--turbo-red-vibrant);
  --border-color: var(--turbo-red-vibrant);
  --border-style: solid;
  --border-width: 1px;
}