@if (state.status === 'DOWNLOADING') {
<ion-card class="turbo-card-container">
    <ion-card-header>
        <ion-card-title>Downloading {{ state.tipoSeleccionado }}...</ion-card-title>
        <ion-card-subtitle>{{ state.videoTitle }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <ion-progress-bar [type]="state.progreso && state.progreso > 0 ? 'determinate' : 'indeterminate'"
            [value]="state.progreso || 0">
        </ion-progress-bar>

        <div class="ion-margin-top ion-text-center">
            <h1 class="progress-text">
                {{ (state.progreso || 0) * 100 | number:'1.0-0' }}%
            </h1>
        </div>

        <ion-button (click)="cancel.emit()" fill="outline" expand="block" class="btn-stop">
            Stop
        </ion-button>
    </ion-card-content>
</ion-card>
}

@else if (state.status === 'SUCCESS') {
<ion-card class="turbo-card-container">
    <div class="ion-padding success-container">
        <ion-icon name="checkmark-circle" class="success-icon"></ion-icon>

        <div class="success-text">
            <h2>Download completed!</h2>
            <p>The file is in your <strong>Downloads</strong> folder.</p>
        </div>

        <ion-button (click)="cancel.emit()" expand="block" class="btn-primary ion-margin-top">
            <ion-icon name="refresh-outline" slot="start"></ion-icon>
            New download
        </ion-button>
    </div>
</ion-card>
}

@else if (state.status === 'ERROR') {
<ion-card class="error-card">
    <ion-item lines="none">
        <ion-icon name="alert-circle-outline" slot="start" class="error-icon"></ion-icon>
        <ion-label class="ion-text-wrap">
            <strong class="error-title">System Error</strong>
            <p class="error-msg">{{ state.mensaje }}</p>
        </ion-label>
    </ion-item>
    <ion-button (click)="cancel.emit()" fill="clear" expand="block" class="btn-retry">
        Retry
    </ion-button>
</ion-card>
}