/* Spinners y Botones Globales */
ion-spinner {
    width: 19px;
    height: 19px;
}

.spinner-audio {
    --color: var(--turbo-red-vibrant) !important;
}

.spinner-video {
    --color: var(--turbo-black) !important;
}


ion-progress-bar {
    --progress-background: var(--turbo-red-vibrant);
    height: 8px;
    border-radius: 4px;
}

.text-white {
    color: white;
}