@if (tauri.state().status === 'IDLE' || tauri.state().status === 'ANALYZING') {
<app-search-manager [url]="url" [status]="tauri.state().status" [selectedType]="tauri.state().selectedType"
    [animeCount]="animeService.results().length" [isVideo]="isVideoUrl()" [isGallery]="isGalleryUrl()"
    (urlChange)="onInputChange($event)" (analyze)="analyze.emit($event)" (openAnime)="viewMode = 'SEARCH'"
    (openSupport)="openSupportModal()" (randomBg)="setRandomBackGround()">
</app-search-manager>
}

@else if (tauri.state().status === 'READY') {
<app-metadata-card [state]="tauri.state()" (download)="download.emit()" (cancel)="cancelDld.emit()"
    (playlistToggle)="tauri.togglePlaylist($event)">
</app-metadata-card>
}

@if (['DOWNLOADING', 'SUCCESS', 'ERROR'].includes(tauri.state().status)) {
<app-download-status [state]="tauri.state()" (cancel)="tauri.stopDownload()">
</app-download-status>
}
<app-anime-manager [viewMode]="viewMode" [results]="animeService.results()" [episodes]="animeService.episodes()"
    [selectedAnime]="selectedAnime" [selectedEpisode]="selectedEpisode"
    [currentStream]="animeService.state().currentStream" [status]="animeService.state().status"
    (selectAnime)="selectAnime($event)" (playEpisode)="playEpisode($event)" (goBack)="goBack()">
</app-anime-manager>