/* Core de Ionic */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";

:root {
    /* Marca y Colores */
    --ion-color-primary: #3880ff;
    --ion-font-family: 'Inter', Avenir, Helvetica, Arial, sans-serif;

    /* Variables de comportamiento */
    font-family: var(--ion-font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Estilos de elementos globales (Botones e Inputs) */
input,
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #0f0f0f;
    background-color: #ffffff;
    transition: all 0.25s ease;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    outline: none;

    &:hover {
        border-color: #396cd8;
    }

    &:active {
        background-color: #e8e8e8;
    }
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;

    &:hover {
        color: #535bf2;
    }
}

/* Modo Oscuro Global */
@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }

    input,
    button {
        color: #ffffff;
        background-color: rgba(15, 15, 15, 0.6);

        &:active {
            background-color: rgba(15, 15, 15, 0.4);
        }
    }

    a:hover {
        color: #24c8db;
    }
}