canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    /* Z-INDEX: 
       Lo mantenemos en -1 o 0, pero recuerda que ion-content 
       debe ser transparente en el global.scss para que se vea. 
    */
    z-index: -1;

    background: #000;

    /* Evita que el canvas capture clicks que deberían ir a los botones */
    pointer-events: none;
    display: block;
}